/* https://stackoverflow.com/questions/68123908/how-to-make-react-webcam-responsive */


.webcam-container {
    position: relative;
    /* width: 100%; */
}

.overlay-container {
    position: absolute;
    /* width: 5%; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
